<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }} Resume</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container page">
    <div class="row">
        <div class="col-md-3 col-print-6">
            <img src="my.jpg" alt="My" style="width:80%; height:80%; display: block; margin: 0 auto;  overflow: hidden; object-fit: cover">
        </div>
        <div class="col-md-5 col-print-6">
            <h1>{{ name }}<br/>{{ title }}</h1>
            <p>
                SpringBoot, Go 기반의 백엔드<br/>AWS 환경 기반의 데브옵스
            </p>
        </div>
        <div class="col-md-4 col-print-6">
            <dl class="row" style="color: chocolate">Contact</dl>
            <dl class="row">
                {{#each facts}}
                <dt class="col-md-3">{{ @key }}</dt>
                <dd class="col-md-9">{{{ this }}}</dd>
                {{/each}}
            </dl>
            <dl class="row" style="color: chocolate">Channel</dl>
            <dl class="row">
                {{#each channels}}
                <dt class="col-md-3">{{ @key }}</dt>
                <dd class="col-md-9">{{{ this }}}</dd>
                {{/each}}
            </dl>
        </div>
    </div>

    <h2 style="color: chocolate">Introduce</h2>
    <p>
        만 12년 개발자로, 주로 대기업 SI/SM 업무를 담당하였습니다.<br/>
        회원 수 1,500만명 이상의 인증 서버, 월 매출 100억 단위의 결제 시스템, 크라우드펀딩, 커머스 등 다양한 서비스들을 운영/개발하였습니다.<br/>
        현재는 풀필먼트 물류 업체에서, k8s + istio + kafka을 이용한 신규 물류시스템 개발을 담당하고 있으며, 전체 아키텍처 설계/개발을 맡아 주도적인 업무를 하고 있습니다.<br/>
        단기 목표는 k8s + kafka를 사용하여, MSA, datapipe 구축역량 획득 및 효과적인 Data 분석을 통한 매출증대가 목표입니다.
        <br/>
        효율적인 서비스와 역량강화를 위해 고민하고, 학습하는 개발자입니다.
        <br/>
    </p>

    <h2 style="color: chocolate">Core Competency</h2>
    <p>

    - 아키텍처 설계<br/>
    > AWS + k8s(EKS) + istio K8S 아키텍처 설계 및 구축<br/>
    > Kafka(MSK)를 이용한 event driven 아키텍처 설계 및 구축<br/>
    > gRPC 개발 설계 및 구축<br/>
    > MSA 구조 설계 및 구축<br/>
    > AWS Secret, IRSA등을 이용한 시큐어 코딩<br/>
    > GIT flow, github flow 등을 이용한 커스텀 배포전략수립 및 적용<br/>
    > Prometheus + Grafana + Loki + Tempo + Promtail + Opentelemetry 모니터링 아키텍처 설계 구축<br/>
        <br/>
    - Devops<br/>
    > CircleCI/Github Actions를 이용한 CI 설계 및 구축<br/>
    > ArgoCD(Helm Chart or yaml)를 이용한 K8S CD 설계 및 구축(Gitops)<br/>
    > AWS CodeDeploy CD 설계 및 구축<br/>
        <br/>
    - Backend<br/>
    > Go 를 이용한 RestAPI 설계 및 공통 등 개발(gogin, entgo)<br/>
    > Go gRPC, gRPC Gateway 구조 설계 및 개발<br/>
    > Go Kafaka , Producer, Consumer 등 Kafka 관련 공통개발<br/>
    > Java를 이용한 RestAPI 설계 및 공통 등 개발(Springboot, Mybatis)<br/>
        <br/>
    - Front<br/>
    > 제이쿼리, vue.js 등 사용 가능(주 기술은 아니나 사용 및 개발가능)<br/>
    <p>

    <h2 style="color: chocolate">Experience</h2>
    {{#each plays}}

    <div class="row">
        <div class="col-2">
            <h3>{{ title }}</h3>
            <h7 class="text-muted">{{ written }}</h7>
            <h7 class="text-muted">{{ date }}</h7>
        </div>
        <div class="col-10">
            <div class="card mb-10">
                {{#each projects}}
                <div class="card-body">
                    <h3>{{{ markdown name }}}</h3>
                    <p class="text-muted">{{date}}</p>
                    {{{markdown contents }}}
                    <div>
                        {{#each badges.backend }}
                        <span class="badge badge-primary">{{ this }}</span>
                        {{/each}}
                        {{#each badges.frontend }}
                        <span class="badge badge-info">{{ this }}</span>
                        {{/each}}
                        {{#each badges.db }}
                        <span class="badge badge-warning">{{ this }}</span>
                        {{/each}}
                        {{#each badges.etc }}
                        <span class="badge badge-secondary">{{ this }}</span>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <br/>
    {{/each}}

    <h2 style="color: chocolate">Education</h2>
    {{#each edus}}
    <p>[{{ date }}] {{ name }} - {{ major }}</p>
    {{/each}}

    <h2 style="color: chocolate">Certificate</h2>
    <div class="row">
        <div class="col-md-12 col-print-2">
            <dl class="row">
                <dt class="col-md-1"><img src="badge/AWS-DataAnalytics-Specialty-2020.png" alt="AWSDS" style="width:100%; height:100%; display: block; margin: 0 auto;  overflow: hidden; object-fit: cover"></dt>
                <dt class="col-md-1"><img src="badge/cka_from_cncfsite__281_29.png" alt="CKA" style="width:100%; height:100%; display: block; margin: 0 auto;  overflow: hidden; object-fit: cover"></dt>
                <dt class="col-md-1"><img src="badge/ckad_from_cncfsite.png" alt="CKAD" style="width:100%; height:100%; display: block; margin: 0 auto;  overflow: hidden; object-fit: cover"></dt>
                <dt class="col-md-1"><img src="badge/kubernetes-security-specialist-logo2.png" alt="CKAD" style="width:100%; height:100%; display: block; margin: 0 auto;  overflow: hidden; object-fit: cover"></dt>
                <dt class="col-md-1"><img src="badge/101_Oracle_Cloud_Infrastructure_Cloud_Operations_Associate.png" alt="OA" style="width:100%; height:100%; display: block; margin: 0 auto;  overflow: hidden; object-fit: cover"></dt>
                <dt class="col-md-1"><img src="badge/103_Oracle_Cloud_Infrastructure_Architect_Associate.png" alt="AA" style="width:100%; height:100%; display: block; margin: 0 auto;  overflow: hidden; object-fit: cover"></dt>
                <dt class="col-md-1"><img src="badge/107_Oracle_Cloud_Database_Services.png" alt="DS" style="width:100%; height:100%; display: block; margin: 0 auto;  overflow: hidden; object-fit: cover"></dt>
                <dt class="col-md-1"><img src="badge/108_Oracle_Cloud_Database_Migration_and_Integration.png" alt="DMI" style="width:100%; height:100%; display: block; margin: 0 auto;  overflow: hidden; object-fit: cover"></dt>
            </dl>
        </div>
    </div>
    {{#each cert}}
    <p>[{{ date }}] {{ name }} - {{ major }}</p>
    {{/each}}
    <p></p>
    <h2 class="screen" style="color: chocolate">Skills</h2>

    <div class="row mb-4">
        {{#each skills}}
        <div class="col-print-1 col-3 col-md-2 col-lg-1 text-right">
            <small>{{ this.[0] }}</small>
        </div>
        <div class="col-print-1 col-3 col-md-2 col-lg-1">
            {{ this.[1] }}
        </div>
        {{/each}}
    </div>
    <p style="text-align: right">
        +   : 기 작성된 코드 활용 가능, 기초 문법 및 코드 이해 가능, 협업을 통한 Coding 가능<br/>
        ++  : framework 설계 및 개발 등 신규 개발, 문법 응용, 코드 Rafactoring, 단독 Coding 가능<br/>
        +++ : 소스 코드 최적화, Trouble Shooting, 설계 및 기획, 리딩 가능<br/>
    </p>
    <time datetime="{{ buildinfo.date }}" class="text-muted">Last update: {{ updated }}</time>
    <br/>
    <span class="screen"><a href="{{ pdfFileName }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download PDF version</a></span>
    <span class="print">The online version is available at <a href="{{ baseUrl }}" class="text-nowrap"><i
        class="fa fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
    <p style="text-align: right">
</div>

<!-- Modal -->
</body>
</html>
